Schemas/schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <xs:element name="Finance">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Users">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="User" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Username" type="xs:string"/>
                                        <xs:element name="Password" type="xs:string"/>
                                        <xs:element name="Wallet">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:decimal">
                                                        <xs:attribute name="cur" type="xs:string" default="US$"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Followed_Companies" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Followed_Company">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="Symbol">
                                                                    <xs:complexType>
                                                                        <xs:simpleContent>
                                                                            <xs:extension base="xs:string">
                                                                                <xs:attribute name="favourite" type="xs:boolean" default="false"/>
                                                                            </xs:extension>
                                                                        </xs:simpleContent>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="Sell_rule">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="Ceiling">
                                                                                <xs:complexType>
                                                                                    <xs:simpleContent>
                                                                                        <xs:extension base="xs:decimal">
                                                                                            <xs:attribute name="cur" type="xs:string" default="US$"/>
                                                                                        </xs:extension>
                                                                                    </xs:simpleContent>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element name="Floor">
                                                                                <xs:complexType>
                                                                                    <xs:simpleContent>
                                                                                        <xs:extension base="xs:decimal">
                                                                                            <xs:attribute name="cur" type="xs:string" default="US$"/>
                                                                                        </xs:extension>
                                                                                    </xs:simpleContent>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="Buy_rule">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="Ceiling">
                                                                                <xs:complexType>
                                                                                    <xs:simpleContent>
                                                                                        <xs:extension base="xs:decimal">
                                                                                            <xs:attribute name="cur" type="xs:string" default="US$"/>
                                                                                        </xs:extension>
                                                                                    </xs:simpleContent>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element name="Floor">
                                                                                <xs:complexType>
                                                                                    <xs:simpleContent>
                                                                                        <xs:extension base="xs:decimal">
                                                                                            <xs:attribute name="cur" type="xs:string" default="US$"/>
                                                                                        </xs:extension>
                                                                                    </xs:simpleContent>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="Stocks_owned" type="xs:integer"/>
                                                                <xs:element name="Recent_Company_News_Reports">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="Recent_Company_News_Report" minOccurs="0" maxOccurs="10">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element name="Title" type="xs:string"/>
                                                                                        <xs:element name="Description" type="xs:string"/>
                                                                                        <xs:element name="Link" type="xs:string"/>
                                                                                        <xs:element name="PubDate" type="xs:string"/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Companies">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Company" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Company_name" type="xs:string"/>
                                        <xs:element name="Company_symbol" type="xs:string"/>
                                        <xs:element name="Stocks_records">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Stock" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:decimal">
                                                                    <xs:attribute name="cur" type="xs:string" default="US$"/>
                                                                    <xs:attribute name="date" type="xs:dateTime" use="required"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>     
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>     
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
</xs:schema>